In [1]:
import numpy as np
import pandas as pd

In [11]:
clsDist, entityDict, relaDict = {}, {}, {}
with open("data/cls.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        data = line.replace("\n", "").split("\t")
        clsDist[data[1]] = data[0]
with open("data/entities.tsv", "r") as f:
    lines = f.readlines()
    for line in lines:
        data = line.replace("\n", "").split("\t")
        entityDict[data[1]] = data[0]
with open("data/relations.tsv", "r") as f:
    lines = f.readlines()
    for line in lines:
        data = line.replace("\n", "").split("\t")
        relaDict[data[1]] = data[0]

In [14]:
dataDf = pd.read_csv("data/data.csv")
dataDf.head()

  lEntity  Rela                         rEntity            type
0   aorta    be                        tortuous  Aorta_tortuous
1   aorta    be                       calcified  Aorta_tortuous
2   aorta    be                         ectatic  Aorta_tortuous
3   aorta    be                        unfolded  Aorta_tortuous
4   aorta  have  atherosclerotic calcifications  Aorta_tortuous

In [17]:
dataDf["le"] = dataDf["lEntity"].apply(lambda x: entityDict.get(x))
dataDf["re"] = dataDf["rEntity"].apply(lambda x: entityDict.get(x))
dataDf["rela"] = dataDf["Rela"].apply(lambda x: relaDict.get(x))
dataDf["cls"] = dataDf["type"].apply(lambda x: clsDist.get(x))

In [20]:
dataDf["cls"].isna().sum()

0

In [21]:
dataDf.head()

,lEntity,Rela,rEntity,type,le,re,rela,cls
0,aorta,be,tortuous,Aorta_tortuous,336,432,0,0
1,aorta,be,calcified,Aorta_tortuous,336,494,0,0
2,aorta,be,ectatic,Aorta_tortuous,336,22,0,0
3,aorta,be,unfolded,Aorta_tortuous,336,547,0,0
4,aorta,have,atherosclerotic calcifications,Aorta_tortuous,336,730,1,0

In [22]:
dataDf.to_csv("data/data.csv", index=False)

ModuleNotFoundError: No module named 'torch.nn.GraphConv'